{% extends 'core/base.html' %}

{% block title %}Home Page{% endblock title %}

{% block content1 %}
    <div class="alert alert-primary d-flex justify-content-center text-align-center m-5 p-4" role="alert">
        <h2>This Site is under construction</h2>
        
    </div>
{% endblock content1 %}